header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #29ABE2;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin-left: 80px;
}
.menu {
  font-size: 24px;
  margin-right: 80px;
}
.menu:hover {
  
}